@model Movie

<h2> @Model.Title has been registered.</h2>
<br />
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Year: @Model.Year</p>
<p>Actors: @Model.Actors</p>
<p>Directors: @Model.Directors</p>
